<div class="example-button-row">
  <button mat-raised-button color="primary" (click)="onPostStart()" [disabled]="!daqState.start">
    Start
  </button>
  <button mat-raised-button color="primary" (click)="onPostStop()" [disabled]="!daqState.stop">
    Stop
  </button>
  <button mat-raised-button color="primary" (click)="onPostPause()" [disabled]="!daqState.pause">
    Pause
  </button>
  <button mat-raised-button color="accent" (click)="onPostUnconfig()" [disabled]="!daqState.unconfigure">
    Unconfig
  </button>
  <button mat-raised-button color="accent" (click)="onPostConfig()" [disabled]="!daqState.configure">
    Config
  </button>

  <mat-form-field class="run-number">
    <input type="number" matInput placeholder="Run number" [(ngModel)]="runNo">
  </mat-form-field>

</div>
<hr />

<mat-table [dataSource]="logs" class="mat-elevation-z8">
  <ng-container matColumnDef="compName">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let component"> {{ component.compName }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
    <mat-cell *matCellDef="let component"> {{ component.state }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="eventNum">
    <mat-header-cell *matHeaderCellDef> Data size </mat-header-cell>
    <mat-cell *matCellDef="let component"> {{ component.eventNum }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="compStatus">
    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
    <mat-cell *matCellDef="let component">
      {{ component.compStatus }}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
